---
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Allman
BraceWrapping:
  IndentBraces: false
  SplitEmptyFunction: false
IndentWidth: '4'
ReferenceAlignment: Left
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
...
