---
name: infer

'on':
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

env:
  build_path: ${{github.workspace}}/infer_build

jobs:
  infer:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        compiler:
          - g++
          - clang++
        build_type:
          - Release
          - Debug

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install boost
        uses: MarkusJx/install-boost@8ba8b2fac59ef3d91a838bb4aa53ceabd33d1aa3 # v2.5.1
        id: install-boost
        with:
          boost_version: 1.85.0

      - name: Install infer
        uses: srz-zumix/setup-infer@530856effeae228d1f3c8251c91ea8348d9480ee # v1.1.1

      - name: Create Build Environment
        run: cmake -E make_directory ${{env.build_path}}

      - name: Configure CMake
        working-directory: ${{env.build_path}}
        env:
          BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}
        run: >
          cmake ../
          -D CMAKE_BUILD_TYPE=${{matrix.build_type}}
          -D CMAKE_CXX_COMPILER=${{matrix.compiler}}
          -D CMAKE_EXPORT_COMPILE_COMMANDS=1

      - name: Run infer
        working-directory: ${{env.build_path}}
        run: >
          infer
          --fail-on-issue
          --print-logs
          --no-progress-bar
          run --compilation-database compile_commands.json
...
