---
name: ubuntu_build

'on':
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '15 2 5,20 * *'

permissions:
  contents: read

env:
  build_path: ${{github.workspace}}/build

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
        compiler:
          - g++
          - clang++
        build_type:
          - Release
          - Debug

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Display versions
        run: |
          ${{matrix.compiler}} --version
          cmake --version

      - name: Install boost
        run: |
          sudo apt-get install libboost-all-dev

      - name: Display boost version
        run: |
          dpkg -s libboost-dev | grep Version

      - name: Create Build Environment
        run: cmake -E make_directory ${{env.build_path}}

      - name: Configure CMake
        working-directory: ${{env.build_path}}
        run: >
          cmake ../
          -D CMAKE_BUILD_TYPE=${{matrix.build_type}}
          -D CMAKE_CXX_COMPILER=${{matrix.compiler}}

      - name: Build with ${{matrix.compiler}}
        working-directory: ${{env.build_path}}
        run: cmake --build . --config ${{matrix.build_type}}

      - name: Test
        working-directory: ${{env.build_path}}
        run: ctest -C ${{matrix.build_type}}
...
