---
name: windows_build
'on':
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '15 2 6 * *'

permissions:
  contents: read

env:
  build_path: ${{github.workspace}}\build

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2022
        build_type:
          - Release
          - Debug

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install boost
        uses: MarkusJx/install-boost@8ba8b2fac59ef3d91a838bb4aa53ceabd33d1aa3 # v2.5.1
        id: install-boost
        with:
          boost_version: 1.87.0
          platform_version: 2022
          toolset: msvc

      - name: Create Build Environment
        run: cmake -E make_directory ${{env.build_path}}

      - name: Configure CMake
        shell: bash
        working-directory: ${{env.build_path}}
        env:
          BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}
        run: >
          cmake ../
          -D CMAKE_BUILD_TYPE=${{matrix.build_type}}

      - name: Build
        working-directory: ${{env.build_path}}
        shell: bash
        run: cmake --build . --config ${{matrix.build_type}}

      - name: Test
        working-directory: ${{env.build_path}}
        shell: bash
        run: ctest -C ${{matrix.build_type}}
...
